/*----------------SoF-----------------------------*/

.banner {
    display: flex;
    align-items: center;
    height:25vh;
    background-image: url("../img/SoF.jpeg");
    background-size: cover;
    color: black;
}

.banner > h1 {
    font-family: 'Roboto', sans-serif;
    margin-left:10px;
    padding:9px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    color:#fff;
    font-size: 2em;
}

.SoFtext {
    display: columns;
    justify-content: center;
}

.SoFtextsub {
    display: column;
    justify-content: center;
    padding:20px;
}

.SoFtextsub > h4 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1.3em;
    margin:5px;
}

@keyframes fadeIn {
    0% {

        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
