/*----------------SoF-----------------------------*/

.banner {
    display: flex;
    align-items: center;
    height:25vh;
    background-image: url("../img/SoF.jpeg");
    background-size: cover;
    color: black;
}

.banner > h1 {
    font-family: 'Roboto', sans-serif;
    margin-left:10px;
    padding:9px;
    background-color: rgba(135, 206, 235, 0.9);
    border-radius: 30px;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.SoFtext {
    display: columns;
    justify-content: center; 
}

.SoFtextsub {
    display: column;
    justify-content: center;
    padding:20px;
}

.SoFtextsub > h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.3em;
    margin:5px;
}

hr {
    border: 0;
    height: 11px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 235, 0.9), rgba(0, 0, 0, 0));
}

@keyframes fadeIn {
    0% {
        
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}