<% include partials/header.ejs %>

<section class="bannerAbout">
    <h1>About Us</h1>
</section>

<section class="aboutp">
    <h1>Adrian Hernandez</h1>
    <hr>
    <h4>Personal Testimony</h4>
    <p>When I was eight years old, I went to La Fe Baptist Church in Jimenez, Mexico for the first time.  I was living with my Grandmother at the time, due to divorce and the lost condition of my family.  My father was in prison and my mother was in another city working and living.<br>
    I learned one Bible verse the first time I went to Children's Church.  The verse was John 1:4 "In Him was life and life was the light of men."  I didn't understand what that meant, but I fell in love with the church, the preaching, and the love the people had for each other.<br><br>
    Sadly, the burden of keeping us became too much for my Grandma to bear, and my siblings and I were tossed from relative to relative for the next seven years.  When I was fourteen I was searching for answers and a true love of some kind, but sadness, loneliness, and confusion was all that I found.  I kept turning in my Bible to that same verse in John, but still, I did not understand it.  Finally, at age 16, I returned to my hometown, Jimenez, and found my way back to that little church that gave me my first taste of love.  After one month of going to church, I received Christ as my Savior during an altar call.<br><br>
    I finally understood what John 1:4 meant, and I wanted that Light in my heart.  It was not long after this that I went to live on the BOys Ranch, run by American missionaries.  I gre in the Lord, and became very attached to the people, the church, and most of all my Lord and Savior, Jesus Christ.
    </p>
    <h4>Call to Service</h4>
    <p>Always, in my prayers, I would ask the Lord to use me however He wanted to for His service.  I knew that with all the ministries I was working, in I was still not satisfied with my service to the Lord.  I knew that there had to be something more to my walk with the Lord.<br><br>
    It wasn't until I was twenty years old that the Lord began to burden my soul to "go".  I was earnestly praying, trying to find out where He would have me to "go", when I heard a missionary preaching on what a disciple is.  The missionary said that a disciple is someone who is willing to be "sent".  It was then, that I knew I was willing to go wherever He wanted me to go.  The Lord placed Central America on my heart.  God gave me a strong burden for these people, and in 2007 I went to Guatemala on a mission trip.  I was on this trip that God confirmed that Guatemala was place He wanted me to "go".
    </p>
    <h1>Our Mission Field</h1>
    <hr>
    <p>God has led our family to target the remote villages of Guatemala, Central America.  50-60% of the population is Catholic, 40% Protestant, and 1% follow the indigenous Mayan faith.  Catholicism was the only official religion during the colonial era.  However, Protestantism increased markedly in recent decades.  More than a third of Guatemalans are Protestant, chiefly Evangelicals and Pentecostals.  It is common for traditional Mayan practices to be incorporated into Catholic ceremonies and worship, a phenomenon known as <em>syncretism.</em><br><br>The practice of traditional Mayan religion is increasing as a result of the cultural protections established under the peace accords.  The government has instituted a policy of providing altars at every Mayan ruin found in the country so that traditional ceremonies may be performed.  The Church of Jesus Christ of Latter-day Saints currently has over 215,000 members in Guatemala, accounting for approximately 1.65% of the country's estimated population in 2008.
      <br><br>
    Even more heart-wrenching, are the numerous remote mountain villages that surround the cities.  Just imagine thousands of cities, towns, communities, "villages" with no Christian church of any kind and no ongoing testimony to Christ.  Our vision is to reach one village at a time, understanding that in several lifetimes we could never reach all of these remote villages.  However, as these people understand their need of Jesus Christ, and trust Him as their Savior, my family and I will seek to disciple them to the point that they will be equipped with the knowledge of Christ that will enable them to reach their own people.  During this time, we will be planting churches with the focus being on national involvement from the beginning of the church planting process.  This will only serve to multiply our efforts.  Join our efforts today, and receive God's eternal blessings for sending laborers to these fields that are so ripe to harvest.
    </p>
</section>

<% include partials/footer.ejs %>
