<% include partials/header.ejs %>  

<section class="bannerBlog">
    <h1>Blog</h1>    
</section>

<section class="blogText">
    <h1>Blog 1</h1>
    <h5>Subtitle Here</h5>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt, lacus in gravida feugiat, orci dolor finibus nisi, nec ultrices leo leo ac nisl. Nunc sed ligula gravida, malesuada purus ut, lacinia ex. Cras bibendum leo at orci viverra facilisis. Aliquam eget tempor arcu. Vivamus non hendrerit velit, id dapibus odio. Praesent ac pretium massa. Ut sed tortor porta, accumsan sem eu, sagittis libero. Pellentesque molestie leo id lacus volutpat, at ornare mi auctor. Sed consectetur, massa id feugiat suscipit, lectus arcu volutpat nisi, quis eleifend tortor sapien a libero. In tempor dolor sem, vel hendrerit risus egestas id. Donec accumsan id nisi id placerat. Praesent placerat, lacus sit amet euismod varius, tortor mauris mollis lectus, sit amet pellentesque arcu ligula tincidunt ante. Nulla volutpat interdum nibh eget hendrerit. Ut elementum dui vitae augue ultricies, eu mattis turpis sagittis. Praesent enim massa, aliquet vel elit in, vestibulum fringilla lacus. Proin mollis fringilla est.</p>
    <hr class="blogBreak">
    <h1>Blog 2</h1>
    <h5>Subtitle Here</h5>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt, lacus in gravida feugiat, orci dolor finibus nisi, nec ultrices leo leo ac nisl. Nunc sed ligula gravida, malesuada purus ut, lacinia ex. Cras bibendum leo at orci viverra facilisis. Aliquam eget tempor arcu. Vivamus non hendrerit velit, id dapibus odio. Praesent ac pretium massa. Ut sed tortor porta, accumsan sem eu, sagittis libero. Pellentesque molestie leo id lacus volutpat, at ornare mi auctor. Sed consectetur, massa id feugiat suscipit, lectus arcu volutpat nisi, quis eleifend tortor sapien a libero. In tempor dolor sem, vel hendrerit risus egestas id. Donec accumsan id nisi id placerat. Praesent placerat, lacus sit amet euismod varius, tortor mauris mollis lectus, sit amet pellentesque arcu ligula tincidunt ante. Nulla volutpat interdum nibh eget hendrerit. Ut elementum dui vitae augue ultricies, eu mattis turpis sagittis. Praesent enim massa, aliquet vel elit in, vestibulum fringilla lacus. Proin mollis fringilla est.</p>
</section>

<% include partials/footer.ejs %>  