<% include partials/header.ejs %>

<section class="aboutp">
    <h1>Please use the form below to contact us</h1>
</section>

<div id="border">
  <div id="contactForm">
      <form method="post" action="">
          <div class="email">
              <label>Your Email</label>
              <input type="text" name="from"></input>
          </div>
          <div class="message">
              <label>Message</label>
              <textarea type="text" name="message"></textarea>
          </div>
          <div id="buttonContainer">
              <input id="mybutton" type="submit" value="Send Email">
          </div>
      </form>
  </div>
</div>
<% include partials/footer.ejs %>
