<% include partials/header.ejs %>

<section class="contactP">
    <h1>Please use the form below to contact us</h1>
</section>

<div id="border">
  <div id="contactForm">
      <form method="post" action="http://localhost:3000/contact">
          <div class="email">
              <label>Your Email address</label>
              <input type="text" name="sender"></input>
          </div>
          <div class="message">
              <label>Message</label>
              <textarea type="text" name="message"></textarea>
          </div>
          <div id="buttonContainer">
              <input id="mybutton" type="submit" value="Send Email">
          </div>
      </form>
  </div>
</div>
<% include partials/footer.ejs %>
