<% include partials/header.ejs %>

<!------test----------Jumbotron-------Prod--------------------->
<!------test----------Jumbotron-------Prod--------------------->

<section class="jumbo">
    <h1><a id="animateHeader"></a><span class="blinker"></span></h1>
    <div class="jumboSub">
        <img class="responsive" src="img/FamphotoA.jpg" alt="Family Picture">
        <span class="spacer"></span>
        <h4><em>And the things that thou hast heard of me among many witnesses, the same commit thou to faithful men,
                who shall be able to teach others also.</em><br>
            <em>2 Timothy 2:2</em></h4>
    </div>
</section>

<% include partials/footer.ejs %>
