<% include partials/header.ejs %>

<div class="aboutp">
    <h3>Adrian broadcasts on a local radio.</h3>
    <p><a href="https://radiomaxima879.com/2018/07/31/hello-world/">Click Here to listen.</a></p>

</div>



<% include partials/footer.ejs %>