<% include partials/header.ejs %>

<section class="banner">
    <h1>Radio Ministry</h1>

</section>

<div class="aboutp">
    <h3>Adrian broadcasts on a local radio.</h3>
    <p>Adrian is schedule to broadcast Monday's and Friday's from 2-3PM</p>
    <p><a href="https://radiomaxima879.com/2018/07/31/hello-world/">Click Here to listen.</a></p>

</div>



<% include partials/footer.ejs %>