<% include partials/header.ejs %>

<section class="banner">
    <h1>Statement of Faith</h1>

</section>
<section class="SoFtext">
    <div class="SoFtextsub">
        <h4>The Bible</h4>
        <p>I believe the Bible is the verbally (every word) and plenary (completely) inspired, inerrant, infallible, and invincible Word of God. (II Tim. 3:16)  The King James Bible is God's divinely preserved Word of God for the English speaking world.</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Godhead</h4>
        <p>I believe in the Trinity, God the Father, God the Son, and God the Holy Spirit.  These three persons, being yet one God, are co-equal in every divine perfection.<br> (Gen. 1:1)</p>
    </div>
    <div class="SoFtextsub">
        <h4>Jesus Christ</h4>
        <p>I believe that Jesus Christ is the only virgin born Son of God, and that He is God manifested in the flesh. <br> (Isa. 7:14; Matt. 1:18)</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Holy Spirit</h4>
        <p>I believe that the Holy Spirit is in the world to convince sinners, comfort sinners, and administrate the work of the church.</p>
    </div>
    <div class="SoFtextsub">
        <h4>Sin</h4>
        <p>I believe that Sin is the result of Adam's transgression, that all are made sinners totally depraved and only the regenerating work of the Holy Spirit can change man's condition. <br> (I Cor. 15:3-4; Eph. 2:8-9)</p>
    </div>
    <div class="SoFtextsub">
        <h4>Salvation</h4>
        <p>I believe Salvation is by "Grace through faith" totally of the Lord as a result of the death, burial, and resurrection of the Lord Jesus Christ.  I believe that those Christ saves by His grace, He keeps by His Power.  <br>(I Cor. 15:3-4; Eph. 2:8-9)</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Church</h4>
        <p>I believe that the Church is composed of all "Born Again Believers" having been baptized into Christ by the Holy Spirit.  The Church is the Body, Building, and Bride of Christ.</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Ordinances</h4>
        <p>I believe that the two ordinances of the Church are (1) Baptism by immersion and (2) The Lord's Supper.</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Priesthood</h4>
        <p>I believe in the Priesthood of all believers and that Jesus Christ Himself is our High Priest. <br> (Heb. 4:14-16)</p>
    </div>
    <div class="SoFtextsub">
        <h4>The Second Coming</h4>
        <p>I believe in the imminent, personal return of the Lord Jesus Christ.  First, to "catch away" His church in the Rapture, and following Tribulation, to return with His Bride (the Church) in the Revelation for His glorious "Millennial Reign." <br> (John 14:1-6; I Thess. 4:13-18; Acts 1:10-11; Rev.19:11-16; Rev 20:1-6)</p>
    </div>
    <div class="SoFtextsub">
        <h4>Heaven</h4>
        <p>I believe that Heaven is the eternal abode of the Saints with God and where God will dwell with His people. <br> (Rev. 21 & 22)</p>
    </div>
    <div class="SoFtextsub">
        <h4>Hell</h4>
        <p>I believe that Hell is a ceaseless place of torment where all who reject Christ will spend eternity.<br> (Matt. 5:29-30; Mark 9:42-48; Luke 16:19-31; Rev. 4:8)</p>
    </div>
</section>

<% include partials/footer.ejs %>
