<% include partials/header.ejs %>

  <!----------------Jumbotron---------------------------->

    <section class='.SoFtextsub'>
      <h4 style="text-align:center; margin-top:40px;">Thank you for your message!</h4>
      <h4 style="text-align:center; margin-top:40px;"><a href="/"><em>Home Page</em></a></h4>
    </section>

<% include partials/footer.ejs %>
