<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Hernandez family are missionaries to Guatemala.</title>
  
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  
  </head>
  <body>
  <!-------------------NavBar---------------------------->
        <nav class="navbar">
            
            <div class="icons">
                <img src="img/logo.jpg" style="height:100%; width:58px; padding-right:30px">
                <a href="https://www.facebook.com/adrian222mi" target="_blank">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
            <div class="pages">
                <h6>Statement of Faith</h6>
                <h6>About</h6>
                <h6>Blog</h6>
                <h6>Contact</h6>
            </div>    
        </nav>
  <!----------------Jumbotron---------------------------->
  <h1 style="text-align:center;">Hello Adrian, this is a work in progress.</h1>
  
  </body>
</html>