<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Hernandez family, missionaries to Guatemala.</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto:700,300,400|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://222commission.org/style/style.css">
  <link rel="stylesheet" type="text/css" href="https://222commission.org/style/SoF.css">
  <link rel="stylesheet" type="text/css" href="https://222commission.org/style/about.css">
  <link rel="stylesheet" type="text/css" href="https://222commission.org/style/contact.css">
  <link rel="stylesheet" type="text/css" href="https://222commission.org/style/blog.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
    integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

</head>

<body>
  <div class="siteContent">

    <!-------------------NavBar---------------------------->
    <nav class="navbar">

      <div class="icons">
        <a href="https://www.facebook.com/222-Comission-101761034816950" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <!-- <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a> -->
        <a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>

      </div>
      <div class="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="abba_padre.ministries@yahoo.com" />
          <input type="hidden" name="item_name" value="Donation to support the ministry of 222 Commission" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit"
            title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </div>

      <div class="pages">
        <h6><a href="https://222commission.org/index.html">Home</a></h6>
        <h6><a href="https://222commission.org/views/SoF.html">Statement of Faith</a></h6>
        <h6><a href="https://222commission.org/views/about.html">About</a></h6>
        <h6><a href="https://222commission.org/views/blog.html">Prayer Letters</a></h6>
        <!-- <h6><a href="/contact">Contact</a></h6> -->
        <!-- <h6><a href="/radio">Radio</a></h6> -->

      </div>

      <div id="dropdown" class="pages">
        <i id="hamburger" class="fas fa-bars"></i>
        <div id="dropdownmenu" class="hideNav">
          <h6><a href="https://222commission.org/index.html">Home</a></h6>
          <h6><a href="https://222commission.org/views/SoF.html">Statement of Faith</a></h6>
          <h6><a href="https://222commission.org/views/about.html">About</a></h6>
          <h6><a href="https://222commission.org/views/blog.html">Prayer Letters</a></h6>
          <!-- <h6><a href="/contact">Contact</a></h6> -->
          <!-- <h6><a href="/radio">Radio</a></h6> -->

        </div>

      </div>
    </nav>

<section class="contactP">
    <h1>Please use the form below to contact us</h1>
</section>

<div id="border">
  <div id="contactForm">
      <form method="post" action="https://pacific-taiga-48024.herokuapp.com/contact">
          <div class="email">
              <label>Your Email address</label>
              <input type="email" name="sender"></input>
          </div>
          <div class="message">
              <label>Message</label>
              <textarea type="text" name="message"></textarea>
          </div>
          <div id="buttonContainer">
              <input id="mybutton" type="submit" value="Send Email">
          </div>
      </form>
  </div>
</div>
</div>
<div class="hidden" id="scrollTopContainer">
	<button id="scrollTop" class="show mediaQuery" href="#">Top</button>
</div>
<footer class="footer">
	<h6>2020 | <a href="http://www.hcubedcoder.com/" target="_blank">Website by H<sup>3</sup></a>
	</h6>
	<div class="hiddenIcons">
		<a href="https://www.facebook.com/adrian222mi" target="_blank">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a href="https://twitter.com/" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
			<i class="fab fa-youtube"></i>
		</a>
		<div class="donatefooter">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_donations" />
				<input type="hidden" name="business" value="abba_padre.ministries@yahoo.com" />
				<input type="hidden" name="item_name" value="Donation to support the ministry of 222 Commission" />
				<input type="hidden" name="currency_code" value="USD" />
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
					name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
			</form>
		</div>
	</div>
</footer>


<script src="js/javascript.js"></script>

</body>

</html>
