    </div>
    <div class="hidden mediaQuery" id="scrollTopContainer">
      <button id="scrollTop" class="show mediaQuery" href="#">Top</button>
    </div>
        <footer class="footer">
            <h6>Copyright &copy; 2018 | <a href="http://www.hcubedcoder.com/" target="_blank">Website by H<sup>3</sup></a></h6>
        </footer>


  <script src="js/javascript.js"></script>

  </body>
</html>
