    </div>
    <div class="hidden" id="scrollTopContainer">
      <button id="scrollTop" class="show mediaQuery" href="#">Top</button>
    </div>
    <footer class="footer">
      <h6>Copyright &copy; 2020 | <a href="http://www.hcubedcoder.com/" target="_blank">Website by H<sup>3</sup></a>
      </h6>
      <div class="hiddenIcons">
        <a href="https://www.facebook.com/adrian222mi" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </footer>


    <script src="js/javascript.js"></script>

    </body>

    </html>