
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Hernandez family, missionaries to Guatemala.</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto:700,300,400|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" type="text/css" href="style/SoF.css">
  <link rel="stylesheet" type="text/css" href="style/about.css">
  <link rel="stylesheet" type="text/css" href="style/contact.css">
  <link rel="stylesheet" type="text/css" href="style/blog.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  </head>
  <body>
    <div class="siteContent">

  <!-------------------NavBar---------------------------->
        <nav class="navbar">

            <div class="icons">
                <a href="https://www.facebook.com/adrian222mi" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <div class="pages">
                <h6><a href="/">Home</a></h6>
                <h6><a href="/statement">Statement of Faith</a></h6>
                <h6><a href="/about">About</a></h6>
                <h6><a href="/blog">Blog</a></h6>
                <h6><a href="/contact">Contact</a></h6>
            </div>
            <div id="dropdown" class="pages">
              <i id="hamburger" class="fas fa-bars"></i>
              <div id="dropdownmenu" class="hideNav">
                <h6><a href="/">Home</a></h6>
                <h6><a href="/statement">Statement of Faith</a></h6>
                <h6><a href="/about">About</a></h6>
                <h6><a href="/blog">Blog</a></h6>
                <h6><a href="/contact">Contact</a></h6>

              </div>
              </div>
        </nav>
