<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Hernandez family, missionaries to Guatemala.</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto:700,300,400|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" type="text/css" href="style/SoF.css">
  <link rel="stylesheet" type="text/css" href="style/about.css">
  <link rel="stylesheet" type="text/css" href="style/contact.css">
  <link rel="stylesheet" type="text/css" href="style/blog.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
    integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

</head>

<body>
  <div class="siteContent">

    <!-------------------NavBar---------------------------->
    <nav class="navbar">

      <div class="icons">
        <a href="https://www.facebook.com/222-Comission-101761034816950" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <!-- <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a> -->
        <a href="https://www.youtube.com/channel/UCaDdENRBddkFPnajpxucyxw" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>

      </div>
      <div class="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="abba_padre.ministries@yahoo.com" />
          <input type="hidden" name="item_name" value="Donation to support the ministry of 222 Commission" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit"
            title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </div>

      <div class="pages">
        <h6><a href="/">Home</a></h6>
        <h6><a href="/statement">Statement of Faith</a></h6>
        <h6><a href="/about">About</a></h6>
        <h6><a href="/blog">Prayer Letters</a></h6>
        <!-- <h6><a href="/contact">Contact</a></h6> -->
        <h6><a href="/radio">Radio</a></h6>

      </div>

      <div id="dropdown" class="pages">
        <i id="hamburger" class="fas fa-bars"></i>
        <div id="dropdownmenu" class="hideNav">
          <h6><a href="/">Home</a></h6>
          <h6><a href="/statement">Statement of Faith</a></h6>
          <h6><a href="/about">About</a></h6>
          <h6><a href="/blog">Prayer Letters</a></h6>
          <!-- <h6><a href="/contact">Contact</a></h6> -->
          <h6><a href="/radio">Radio</a></h6>

        </div>

      </div>
    </nav>